body,div,h1,p,img,span,ul,li,a,h2{
	padding:0 0;
	margin:0 0;
	border:0 none;
}
body,button, input, select, textarea{
	font: 15px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
a{
	text-decoration:none;
}
li{
	list-style:none;
}
body{
	background-color: #6fdf6f;
	padding-bottom: 30px;
	padding-top: 15px;
}
.out{
	width: 1070px;
	background-color: #e0ecf0;
	margin-left: 20px;
	padding-bottom: 30px;
	float: left;
}
.log{
	background-color: #6fdf6f;
}
.log li{
	float: left;
	margin-left: 6px;
	font-family: "微软雅黑";
	font-weight: bold;
	color: #606960;
}
.log li:hover{
	color: black;
	cursor: pointer;
}
#log_spe:hover{
	color: #606960;
	cursor: default;
}
.head{
	height: 150px;
	background: url("../img/head_back.png")
}
.head h1{
	font-size: 3em;
	width: 200px;
	height: 75px;
	background-color: green;
	background: url("../img/head_cai.png") left bottom no-repeat;
	padding-top: 75px;
	padding-left: 85px;
	margin-left: 80px;
	font-family: "楷体";
	float: left;
}
.address{
	float: left;
	margin-top: 105px;
	font-family: "楷体";
	font-size: 1.3em;
	position: relative;
	cursor: default;
}
.change_addr{
	font-size: 0.7em;
	margin-left: 8px;
	color: grey;
}
.change_addr:hover{
	color: black;
}
.other_addr{
	background: url("../img/addr_back.png");
	display: none;
	padding: 0px 10px 2px 5px;
	position: absolute;
	top: 28px;
	left: -5px;
	z-index: 10;
}
.other_addr li{
	cursor: pointer;
}
.other_addr li:hover{
	text-decoration: underline;
}

.list{
	margin-top: 25px;
}
#box{
	width: 220px;
	float: left;
	margin-left: 42px;
	margin-bottom: 30px;
	border: solid white 1px;
	border-radius: 15px;
	box-shadow: 5px 4px 10px black;
	background-color: white;
}
.list li{
	width: 230px;
	float: left;
	margin-left: 30px;
	margin-bottom: 30px;
	position: relative;
}
.list img{
	width: 215px;
	height: 215px;
	margin-left: 6px;
}
.list_fruit_top{
	display: block;
	width: 230px;
	height: 18px;
	background: url("../img/list_fruit_top.png") no-repeat;
}
.list_fruit_bottom{
	display: block;
	width: 230px;
	height: 21px;
	background: url("../img/list_fruit_bottom.png") no-repeat;
}
.list_fruit_con{
	background: url("../img/list_fruit_con.png");
}
.price, .num{
	float: left;
}
.price{
	padding: 22px 19px 0px 25px;
	padding-right: 19px;
	font-family: "楷体";
	font-size: 1.4em;
}
.price a{
	height: 30px;
	width: 33px;
	margin-left: 14px;
	display: block;
	background: url("../img/choose.png");
	cursor: pointer;
}
.price a:hover{
	background: url("../img/choose_on.png");
}
.num{
	padding-top: 17px;
	width: 100px;
}
.num .num_choice{
	width: 80px;
	height: 30px;
	background: url("../img/num_choice_back.png");
	margin: 0 auto;
}
.num_done{
	margin-top: 8px;
	font-family: "楷体";
	font-size: 1.2em;
	padding-left: 23px;
}
.num_quan{
	display: inline;
	width: 29px;
	outline: none;
	text-align: center;
}
.num_unit{
	padding-top: 2px;
	margin-left: 4px;
}
.foot{
	width: 300px;
	margin: 0 auto;
	margin-top: 20px;
}
.num_choice_dec, .num_choice_inc{
	cursor: pointer;
	height: 27px;
	width: 27px;
	padding-top: 3px;
	padding-left:13px;
	float: left;
	font-weight: bold;
	color: grey;
}
.num_choice_dec:hover, .num_choice_inc:hover{
	color: black;
}

.right{
	float: left;
	width: 230px;
	margin-left: 12px;
	margin-top: 22px;
}
.order_top{
	width: 230px;
	height: 4px;
	display: block;
	background: url("../img/order_top.png");
}
.order_bottom{
	width: 230px;
	height: 5px;
	display: block;
	background: url("../img/order_bottom.png");
}
.order_pre_con{
	background: url("../img/order_mid.png");
	padding: 2px 0px;
}
.order_pre_con h2{
	font-size: 1.3em;
	font-family: "楷体";
	padding-left: 8px;
	float: left;
}
.order_act_1{
	float: right;
	height: 27px;
	margin-right: 15px;
	margin-top: 3px;
}
.order_act_1:hover{
	cursor: pointer;
}
.order_act_1 a{
	background: url("../img/order_act_mid.png");
	display: block;
	height: 22px;
	float: left;
	font-family: "黑体";
	font-size: 0.9em;
	padding-top: 1px;
}
.order_act_left{
	height: 23px;
	width: 6px;
	background: url("../img/order_act_left.png");
	display: block;
	float: left;
}
.order_act_right{
	height: 23px;
	width: 6px;
	background: url("../img/order_act_right.png");
	display: block;
	float: left;
}
.order_con p{
	font-family: "楷体";
	font-size: 1.1em;
	padding-left: 8px;
}
.more_orders{
	border-top: dashed 1px black;
	margin: 0px 8px;
}
.more_orders a{
	font-family: "楷体";
	font-size: 1.1em;
}
.more_orders a:hover{
	cursor: pointer;
}
.order_now{
	margin-top: 10px;
}

.empty{
	clear: both;
}