/*对于展示水果部分用border-radius,box-shadow做*/
body,div,h1,p,img,span,ul,li,a{
	padding:0 0;
	margin:0 0;
	border:0 none;
}
body,button, input, select, textarea{
	font: 15px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
a{
	text-decoration:none;
}
li{
	list-style:none;
}
body{
	background-color: #6fdf6f;
	padding-top: 30px;
}
.out{
	width: 1100px;
	background-color: #e0ecf0;
	margin: 0 auto;
	padding-bottom: 30px;
}
.head{
	height: 150px;
	background: url("../img/head_back.png")
}
.head h1{
	font-size: 3em;
	width: 200px;
	height: 75px;
	background-color: green;
	background: url("../img/head_cai.png") left bottom no-repeat;
	padding-top: 75px;
	padding-left: 85px;
	margin-left: 80px;
	font-family: "楷体";
	float: left;
}
.address{
	float: left;
	margin-top: 105px;
	font-family: "楷体";
	font-size: 1.3em;
	margin-left: 120px;
}

.other_addr{
	background-color: 6fdf6f;
	display: none;
}
.other_addr li{
	float: left;
	font-family: "楷体";
	font-size: 1.2em;
	margin-left: 20px;
	cursor: pointer;
}
.other_addr li:hover{
	text-decoration: underline;
}

.list{
	margin-top: 25px;
}
.list li{
	width: 220px;
	float: left;
	margin-left: 42px;
	margin-bottom: 30px;
	border: solid white 1px;
	border-radius: 15px;
	box-shadow: 5px 4px 10px black;
	background-color: white;
}
.list img{
	width:215px;
	height:215px;
	margin-left: 2px;
	margin-top: 10px;
	
}
.list_fruit_top{
	width: 220px;
	height: 10px;
	background: url("../img/list_fruit_top.png") no-repeat;
}
.list_fruit_bottom{
	width: 220px;
	height: 10px;
	background: url("../img/list_fruit_bottom.png") no-repeat;
}
.list_fruit_con{
	height: 100px;
	background: url("../img/list_fruit_con.png");
}
.price, .num{
	float: left;
}
.price{
	padding: 30px 10px 20px 15px;
	padding-right: 24px;
	font-family: "楷体";
	font-size: 1.4em;
}
.num{
	padding-top: 10px;
	width: 100px;
}
.num .num_choice{
	width: 80px;
	height: 30px;
	background: url("../img/num_choice_back.png");
	margin: 0 auto;
}
.num_done{
	margin-top: 8px;
	font-family: "楷体";
	font-size: 1.2em;
}
.num_quan{
	border-bottom: 1px black solid;
	padding: 1px 3px;
	margin-left: 33px;
	margin-right: 3px;
}
.num_unit{
	padding-top: 2px;
}
.foot{
	width: 300px;
	margin: 0 auto;
	margin-top: 20px;
}
.num_choice_dec, .num_choice_inc{
	cursor: pointer;
	height: 27px;
	width: 27px;
	padding-top: 3px;
	padding-left:13px;
	float: left;
	font-weight: bold;
	color: grey;
}
.num_choice_dec:hover, .num_choice_inc:hover{
	color: black;
}

.empty{
	clear: both;
}