body,div,h1,p,img,span,ul,li,a{
	padding:0 0;
	margin:0 0;
	border:0 none;
}
body,button, input, select, textarea{
	font: 15px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
a{
	text-decoration:none;
}
li{
	list-style:none;
}
body{
	background-color: #6fdf6f;
}
.login{
	height: 200px;
	width: 400px;
	margin: 100px auto;
}
.login h1{
	height:39px;
	font-family: "楷体";
	font-size: 1.7em;
	color: #3014c7;
	padding: 6px 0px 2px 41px;
	background-color: #e0ecf0;
	border-bottom: 1px solid #b2babd;
}
.con{
	background-color: white;
	padding: 15px 0px; 
}
.con h2{
	width: 330px;
	margin: 0 0;
	font-family: "楷体";
	font-size: 1.6em;
	color: white;
	padding: 1px 0px;
	padding-left: 41px;
	background-color: #3a3af4;
}
.tit{
	height: 49px;
	position: relative;
}
.log_tit{
	position: absolute;
	top: 0px;
	left: -18px;
	display: block;
	height: 49px;
	width: 18px;
	background: url("../img/log_tit.png");
}
.login_form{
	margin-left: 23px;
	margin-top: 15px;
}
.phone_tit, .pwd_tit{
	float: left;
	font-family: "楷体";
	text-align: right;
	font-size: 1.3em;
	width: 90px;
	margin-right: 5px;
	padding-top: 6px;
	display: block;
}
.input_left{
	display: block;
	float: left;
	width: 3px;
	height: 37px;
	background: url("../img/input_left.png");
}
.input_right{
	display: block;
	float: left;
	width: 3px;
	height: 37px;
	background: url("../img/input_right.png");
}
.login_form div input{
	float: left;
	outline: none;
	height: 37px;
	border: none;
	background: url("../img/input_cen.png");
	margin: 0 0;
}
.pwd{
	margin-top: 18px;
}
.phone{
	margin-top: 18px;
}
.repeat_pwd{
	margin-top: 18px;
}
.name_empty, .name_illegal, .phone_illegal, .pwd_diff, .pwd_empty, .phone_empty{
	color: red;
	font-size: 0.6em;
	display: block;
	float: left;
	padding-top: 17px;
	padding-left: 7px;
	width: 100px;
	display: none;
}
.name_illegal, .phone_illegal{
	padding-top: 0px;
}
.submit{
	border: 1px solid #445dc5;
	background-color: #8d8df0;
	font-family: "楷体";
	color: white;
	font-size: 1.3em;
	margin-left: 95px;
	margin-top: 10px;
	height: 35px;
	width: 73px;
	cursor: pointer;
}

.empty{
	clear: both;
}